
<h2>{{ place.name }}</h2>
<a href="{{ url_for('new_menu_item', place_id=place.id) }}">create new menu item</a><br><br>
{% if menuitems %}
	{% for menu in menuitems %}
		{{ menu.id }}<br>
		{{ menu.name }}<br>
		{{ menu.course }}<br>
		{{ menu.description }}<br>
		{{ menu.price }}<br>
	
	<a href="{{ url_for('edit_menu_item', place_id=menu.place.id, menu_id=menu.id) }}">Edit</a>
	<a href="{{ url_for('delete_menu_item', place_id=menu.place.id, menu_id=menu.id) }}">Delete</a>
	<hr>
	<br>
	{% endfor %}
{% else %}
<p>You currently have no menu items</p>
{% endif %}